DATABASE_URL=postgresql://postgres:your_password@localhost:5432/order_service_db
SECRET_KEY=econ-super-secret-jwt-key-2026-change-in-production
JWT_ALGORITHM=HS256
PRODUCT_SERVICE_URL=http://localhost:8002
PAYMENT_SERVICE_URL=http://localhost:8004
REDIS_HOST=localhost
REDIS_PORT=6379
